<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALESTATE</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' /> -->
</head>
<header>
    <div class="header-container">
        <h1 class="api">REALESTATE</h1>
    </div>
</header>
<body>
    <main>
        <!-- <div class="response">
             <h1 class="main-title">Endpoints</h1> <br>

             <h2 class="section-title">User authentication</h2>
             <% Object.entries(data.user).forEach(element => { %>
            <div class="req-wrapper">
                    <h3 class="end-title"><%= data.user[element[0]].title %></h3>

                    <code><span class='method'><%= data.user[element[0]].method %>  /  </span>          <%= data.user[element[0]].url %> </code><br>
                    
                    <h4 class="req-res">REQUEST BODY</h4>
                    <code>
                        <span class="brackets">     {</span> <br>
                            <% Object.entries(data.user[element[0]].body).forEach(el => { %>
                                <span class='prop'><%= el[0] %> </span> : <span class='value'><%= el[1] %> </span><br>
                            <% }) %>
                            
                        <span class='brackets'>     }</span>
                    </code>   

                    <h4 class="req-res">RESPONSE</h4>
                    <code>
                        <span class="brackets">     {</span> <br>
                            <% Object.entries(data.user[element[0]].response).forEach(el => { %>
                                <span class='prop'><%= el[0] %> </span> : <span class='value'><%= el[1] %> </span><br>
                            <% }) %>
                            
                        <span class='brackets'>     }</span>
                    </code>   
            </div>  
                    <% }) %>

             <h2 class="section-title">Formula 1 endpoints</h2>
            
             <% Object.entries(data.formula).forEach(element => { %>
            <div class="req-wrapper">
                <h3 class="end-title"><%= data.formula[element[0]].title %></h3>

                <code><span class='method'><%= data.formula[element[0]].method %>  /  </span>          <%= data.formula[element[0]].url %> </code><br>
                
                <h4 class="req-res">RESPONSE</h4>
                <code class="comment">//<%=  data.formula[element[0]].comment  %> //</code><br>
                <code>
                    <span class="brackets">     {</span> <br>
                        <% Object.entries(data.formula[element[0]].response).forEach(el => { %>
                            <span class='prop'><%= el[0] %> </span> : <span class='value'><%= el[1] %></span><br>
                        <% }) %>
                        
                    <span class='brackets'>     }</span>
                </code> 
            </div>  
             <% }) %>
           
        </div> -->
    </main>
</body>
</html>